.notfound-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  font-family: 'Poiret One', cursive;
}

.notfound-message {
  margin: 1rem;
  text-transform: uppercase;
  font-size: 1rem;
}

.notfound-link a {
  padding: 0.5rem 2rem;
  border-radius: 30px;
  background-color: red;
  color: white;
  text-decoration: none;
}

