.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 100;
  font-family: Calibri, sans-serif;
}

.header__title {
  position: relative;
  padding: 2rem;
  background: black;
}

.header p {
  color: white;
  font-size: 2rem;
  text-align: center;
}

.header p span {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4px;
}

.header__menu {
  position: absolute;
  top: 50%;
  left: 2rem;
}

.header__buttons {
  position: absolute;
  top: 50%;
  right: 2rem;
}

.header__buttons a,
.header__menu a {
  margin: 0.5rem;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.header__menu a {
  font-family: 'Caveat', cursive;
}

.header__menu a:hover {
  border-bottom: 1px solid white;
}

.header__search {
  margin: 0;
  padding: 1rem 2rem;
  background: #b7b7b7;
  opacity: 0.9;
}

.header__search input {
  border: none;
  background: #b7b7b7;
  color: white;
  font-size: 1rem;
}

.header__search input:focus {
  outline: none;
}

.header__search span:before {
  content: "\f002";
  color: white;
  font-family: FontAwesome;
}

.header__search input::-webkit-input-placeholder {
  color: white;
  font-family: 'Poiret One', cursive;
}

.header__search input::-moz-placeholder {
  color: white;
}

.header__stock {
  display: block;
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 1.5rem;
  height: 1.5rem;
  color: red;
  font-family: 'Poiret One', cursive;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.fa-shopping-cart {
  position: relative;
}
