.header-container {
  /*position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  opacity: 0.9;*/
  margin: 0;
  font-family: Calibri, sans-serif;
}

.header-title {
  position: relative;
  padding: 2rem;
  background: black;
}

.header-container p {
  color: white;
  font-size: 2rem;
  text-align: center;
}

.header-container p span {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4px;
}

.header-menu {
  position: absolute;
  top: 50%;
  left: 0;
}

.header-buttons {
  position: absolute;
  top: 50%;
  right: 0;
}

.header-buttons a,
.header-menu a {
  margin: 0.5rem;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.header-menu a {
  font-family: 'Caveat', cursive;
}

.header-menu a:hover {
  border-bottom: 1px solid white;
}

.header-search {
  margin: 0;
  padding: 1rem 2rem;
  background: #b7b7b7;
}

.header-search input {
  border: none;
  background: #b7b7b7;
  color: white;
  font-size: 1rem;
}

.header-search input:focus {
  outline: none;
}

.header-search span:before {
  content: "\f002";
  color: white;
  font-family: FontAwesome;
}

.header-search input::-webkit-input-placeholder {
  color: white;
  font-family: 'Poiret One', cursive;
}

.header-search input::-moz-placeholder {
  color: white;
}

.searched-products {
  display: flex;
  flex-flow: row wrap;
}

.searched-products-item {
  position: relative;
  width: 30%;
  margin: 1rem;
  padding-bottom: 1rem;
  box-shadow: 2px 1px 3px 1px rgba(89, 87, 87, 0.5);
}
