<footer>
  <div class="footer">
    <div class="footer__title">
      <span>Smeg</span>house
    </div>
    <div class="footer__contacts">
      <ul>
        <li class="footer__contacts-item" *ngFor="let contact of contacts$ | async">
          <img src="{{ contact.url }}" alt="{{ contact.name }}">
          <span>{{ contact.name }} {{ contact.phoneNumber }}</span>
        </li>
      </ul>
    </div>
    <div class="footer__rights">
      &copy; 2020 All rights reserved.
    </div>
  </div>
</footer>
