.footer {
  background-color: black;
  color: gray;
  font-family: 'Caveat', cursive;
}

.footer__title {
  padding: 1rem 2rem;
  border-bottom: 1px solid gray;
  text-align: center;
  font-size: 1.5rem;
}

.footer__title span {
  text-transform: uppercase;
}

.footer__contacts ul {
  margin: 0;
  padding: 0.5rem 2rem;
}

.footer__contacts li {
  list-style: none;
  font-size: 1rem;
  text-align: left;
}

.footer__contacts-item {
  display: flex;
  margin: 0.5rem;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: center;
}

.footer__contacts img {
  width: 2rem;
  margin-right: 0.5rem;
}

.footer__rights {
  border-top: 1px solid gray;
  text-align: center;
}

@media (max-width: 25rem) {
  .footer__contacts ul {
    padding: 0;
  }

  .footer__contacts-item span,
  .footer__rights {
    font-size: 0.7rem;
  }

  .footer__contacts img {
    width: 1rem;
  }
}
