<main>
  <article>
    <div class="catalog">
      <div class="catalog__categories">
        <h3>Категории</h3>
        <app-filter (onFilterChange)="onFilterChange($event)" id="here"></app-filter>
      </div>
      <div class="catalog__products">
        <div class="catalog__item" *ngFor="let product of filteredProducts; index as i">
          <app-product-cart-preview [id]="i" [product]="product"></app-product-cart-preview>
        </div>
      </div>
      <div class="catalog__button_up" (click)="scrollUp()" #buttonUp>
        <span>&uarr;</span>
      </div>
    </div>
  </article>
</main>
