<div id="categories-wrapper">
  <div class="categories categories-left">
    <ul>
      <li class="category" *ngFor="let category of categoriesLeft">
        <a routerLink="/catalog" routerLinkActive="active-link" title="Перейти в раздел {{ category }}">{{ category }}</a>
      </li>
    </ul>
  </div>
  <div class="categories categories-right">
    <ul>
      <li class="category" *ngFor="let category of categoriesRight">
        <a routerLink="/catalog" routerLinkActive="active-link" title="Перейти в раздел {{ category }}">{{ category }}</a>
      </li>
    </ul>
  </div>
</div>
