*:focus {
  outline: none;
}

.quantity-counter {
  display: flex;
  width: 120px;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.quantity-counter__button {
  width: 30px;
  margin: 0;
  padding: 0;
  border: 3px solid transparent;
  background: #b1b1b1;
  color: #fff;
  font-weight: 500;
}

.quantity-counter__button:hover {
  cursor: pointer;
}

.quantity-counter__button:disabled {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.4);
}

.quantity-counter__value {
  display: inline-block;
  width: 60px;
  margin: 0;
  vertical-align: center;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 30rem) {
  .quantity-counter {
    width: 100px;
    margin: 0 auto;
  }

  .quantity-counter__value {
    width: 40px;
  }
}
