*:focus {
  outline: none;
}

.quantity-counter {
  display: flex;
  width: 100px;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.quantity-counter button {
  border: 3px solid transparent;
  padding: 3px 7px;
  background: #b1b1b1;
  color: #fff;
  font-weight: 500;
}

.quantity-counter button:hover {
  cursor: pointer;
}

.quantity-counter button:disabled {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.4);
}

.quantity-counter  p {
  display: inline-block;
  width: 50px;
  margin: 0;
  vertical-align: center;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
