<div
  class="quantity-counter"
  [class.focused]="focus">
  <div>
    <button
      class="quantity-counter__button"
      type="button"
      (click)="decrement()"
      [disabled]="value === min">
      -
    </button>
  </div>
  <div
    tabindex="0"
    (keydown)="onKeyDown($event)"
    (blur)="onBlur($event)"
    (focus)="onFocus($event)">
    <p
      class="quantity-counter__value"
      id="value">
      {{ value }}
    </p>
  </div>
  <div>
    <button
      class="quantity-counter__button"
      type="button"
      (click)="increment()"
      [disabled]="value === max">
      +
    </button>
  </div>
</div>
