<main>
  <div class="notfound">
    <h2>Error 404</h2>
    <h3>page not found</h3>
    <p class="notfound__message">
      Кто-то потерялся: или вы, или мы
    </p>
    <p class="notfound__link" *ngIf="path">
      Возможно, вы искали <a [routerLink]="path" routerLinkActive="active-link" title="ссылка для перехода">"{{ path }}
      "</a>
    </p>
    <p class="notfound__link" *ngIf="!path">
      Вернуться на <a routerLink="/main" routerLinkActive="active-link" title="ссылка для перехода">"Главную"</a>
    </p>
  </div>
</main>
