<main>
  <section>
    <div class="auth">
      <h2 class="auth__title" *ngIf="!userLogged">Войти или зарегистрироваться</h2>
      <h3 *ngIf="userLogged">Вы активны под учетной записью {{ userName }}</h3>
      <form class="auth__form" [formGroup]="loginForm" (submit)="onSubmit(loginForm.value)">
        <label>
          <input
            class="auth__form-input"
            type="text"
            name="login"
            placeholder="Логин"
            formControlName="login">
        </label>
        <label>
          <input
            class="auth__form-input"
            type="password"
            name="password"
            placeholder="Пароль"
            formControlName="password">
        </label>
        <label>
          <input
            class="auth__form-input"
            type="email"
            name="email"
            placeholder="E-mail"
            formControlName="email">
        </label>
        <label>
          <input
            class="auth__form-input"
            type="checkbox"
            name="check"
            #check
            formControlName="check">Согласен с условиями правил пользования торговой площадки
        </label>
        <div>
          <button class="auth__form-button" [disabled]="!check.checked" *ngIf="!userLogged" type="submit">Войти</button>
          <button class="auth__form-button" [disabled]="!check.checked" *ngIf="!userLogged" (click)="onRegistration(loginForm.value)">Зарегистрироваться</button>
        </div>
        <div>
          <button class="auth__form-button auth__form-button-exit" *ngIf="userLogged" (click)="onLogout()">Выйти</button>
        </div>
      </form>
    </div>
  </section>
</main>
