main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.dashboard {
  height: 100%;
  background: center/60% auto url("../../../assets/images/main.jpg") no-repeat;
}

.dashboard__category {
  list-style: none;
  margin: 0.5rem 0;
  z-index: 10;
}

.dashboard__categories ul {
  margin: 0;
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboard__categories a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.dashboard__categories_right ul {
  text-align: right;
}

.dashboard__categories {
  width: 50%;
  height: 100%;
  background-color: rgba(183, 183, 183, 0.2);
  font-family: 'Poiret One', cursive;
}

.dashboard__categories_left {
  float: left;
}

.dashboard__categories_right {
  float: right;
}

.dashboard__categories:hover {
  background-color: rgba(183, 183, 183, 0);
}

.dashboard__categories a:hover {
  border-bottom: 1px solid black;
}

@media (max-width: 35rem) {
  .dashboard {
    background: center/70% auto url("../../../assets/images/mx-white.jpg") no-repeat;
  }

  .dashboard__categories_left {
    width: 100%;
    font-size: 1rem;
  }

  .dashboard__categories_right{
    display: none;
  }

  .dashboard__categories ul {
    padding: 0.5rem;
  }

  .dashboard__category {
    margin: 0.5rem;
  }
}

@media (max-width: 12rem) {
  .dashboard__category {
    font-size: 0.7rem;
  }
}
