.catalog-wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog-categories {
  width: 30%;
  padding: 1rem 2rem;
  color: gray;
  font-size: 1rem;
}

.catalog-products {
  width: 70%;
  display: flex;
  flex-flow: row wrap;
}

.catalog-item {
  position: relative;
  width: 30%;
  margin: 1rem;
  padding-bottom: 1rem;
  box-shadow: 2px 1px 3px 1px rgba(89, 87, 87, 0.5);
}

#product-cart {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

#backdrop {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  opacity: 0.4;
  z-index: 9;
}
