.catalog-wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog-categories {
  width: 30%;
  padding: 1rem 0;
  color: gray;
  font-size: 1rem;
}

.catalog-category {
  margin: 0.5rem;
}

.catalog-category input {
  width: 1.5rem;
  height: 1.5rem;
}

.catalog-products {
  width: 70%;
  display: flex;
  flex-flow: row wrap;
}

.catalog-item {
  position: relative;
  width: 30%;
  margin: 1rem;
  padding-bottom: 1rem;
  box-shadow: 2px 1px 3px 1px rgba(89, 87, 87, 0.5);
}
