<main>
  <article>
    <div class="cart">
      <ng-content select="a"></ng-content>
      <a routerLink="../" routerLinkActive="active-link" class="cart__arrow-back"
         title="Вернуться к списку">&larr;</a>
      <div class="cart__image">
        <img src="{{ product.url }}" alt="Изображение товара">
        <span
          [ngClass]="{
            favorite: true,
            fa: true,
            'fa-heart-o': !product.select,
            'fa-heart': product.select}"
          aria-hidden="true"
          (click)="addToFavorite($event)">
        </span>
      </div>
      <div class="cart__info">
        <div class="cart__title">
          <h2>{{ product.name }}</h2>
          <p>артикул {{ product.article }}</p>
        </div>
        <div class="cart__price">
          <span>{{ product.price | currency:'Br ' }}</span>
        </div>
        <div>
          <app-quantity-counter></app-quantity-counter>
        </div>
        <div>
          <button class="cart__button" (click)="addToStock()">В корзину</button>
        </div>
        <div class="cart__description">
          <h4>Описание</h4>
          <p>Цвет: {{ product.color }}</p>
          <p>Материал: {{ product.body }}</p>
          <p>Объем: {{ product.volume }} л</p>
          <p>Размеры: {{ product.size }} мм</p>
          <p *ngIf="product.speed">Скорости: {{ product.speed }}</p>
          <p *ngIf="product.levels">Уровни: {{ product.levels }}</p>
          <p *ngIf="product.levels">Температура: {{ product.levels }}&deg;</p>
          <p *ngIf="product.filters">Фильтры: {{ product.filters }}</p>
          <p *ngIf="product.rotate">Вращение: {{ product.rotate }}&deg;</p>
          <p>Мощность: {{ product.power }} кВт</p>
          <p>Подсветка: {{ (product.light) === true ? 'да' : 'нет' }}</p>
          <p>Дополнительно: {{ product.description }}</p>
          <p>Производитель: {{ product.producer }}</p>
        </div>
      </div>
    </div>
  </article>
</main>
